node_modules
dist
build
coverage
.turbo
.cache
.parcel-cache
.next
.vite
.tsbuildinfo
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.log
bun.lock
!**/bun.lock
.idea
.vscode
.vscode-test
material-resources-management-api/.drizzle
material-resources-management-api/dist
material-resources-management-client/dist
